<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2022. All rights reserved.
  ~ @author: Volodymyr Hryvinskyi <mailto:volodymyr@hryvinskyi.com>
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="hryvinskyi_pagespeed" showInDefault="1" showInWebsite="1" showInStore="1" type="text"
                 translate="label">
            <group id="js">
                <group id="extreme_lazy_load" translate="label" type="text" sortOrder="200" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Extreme Lazy Load</label>
                    <field id="enabled" translate="label comment" type="select" sortOrder="10"
                           showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enable Extreme Lazy Load</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="enabled_timeout" translate="label comment" type="select" sortOrder="20"
                           showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Delay loading scripts by time</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="enabled">1</field>
                        </depends>
                    </field>
                    <field id="timeout" translate="label comment" type="text" sortOrder="30"
                           showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Timeout in milliseconds</label>
                        <depends>
                            <field id="enabled">1</field>
                            <field id="enabled_timeout">1</field>
                        </depends>
                    </field>
                    <field id="delay_events" translate="label comment" type="multiselect" sortOrder="40"
                           showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Delay script loading by events</label>
                        <source_model>Hryvinskyi\PageSpeedJsExtremeLazyLoadAdminUi\Model\Config\Source\DelayScriptEvents</source_model>
                        <depends>
                            <field id="enabled">1</field>
                        </depends>
                    </field>
                    <field id="allowed_types" translate="label comment" type="textarea" sortOrder="50"
                           showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Allowed types for script.</label>
                        <depends>
                            <field id="enabled">1</field>
                        </depends>
                    </field>
                    <field id="exclude_by_attributes" translate="label comment" type="text" sortOrder="60"
                           showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Exclude lazy loading script by attributes.</label>
                        <comment>Specify comma separated attributes.</comment>
                        <depends>
                            <field id="enabled">1</field>
                        </depends>
                    </field>
                    <field id="exclude_by_contain_text" translate="label comment" type="textarea" sortOrder="70"
                           showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Exclude lazy loading script by script contain text.</label>
                        <comment><![CDATA[Use pattern for search content. Like:<pre>*window.checkout = {*
&lt;script src=https://somedomain.com/dist.js*
src="https://somedomain.com/dist.js"&gt;&lt;/script&gt;*</pre>]]></comment>
                        <depends>
                            <field id="enabled">1</field>
                        </depends>
                    </field>
                    <field id="exclude_by_uri" translate="label" type="textarea" sortOrder="80"
                           showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Exclude lazy loading script by page url.</label>
                        <depends>
                            <field id="enabled">1</field>
                        </depends>
                    </field>
                    <field id="is_apply_for_page_types" translate="label comment" type="select" sortOrder="90"
                           showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enable only for specific page types</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="apply_for_page_types" translate="label comment" type="textarea" sortOrder="100"
                           showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enable for this specific page types</label>
                        <comment>Specify new line separated page types. Like: cms_page_view cms_index_index catalog_product_view</comment>
                        <depends>
                            <field id="enabled">1</field>
                            <field id="is_apply_for_page_types">1</field>
                        </depends>
                    </field>
                    <field id="is_disable_for_page_types" translate="label comment" type="select" sortOrder="110"
                           showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Disable for specific page types</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="disable_for_page_types" translate="label comment" type="textarea" sortOrder="120"
                           showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Disable for this specific page types</label>
                        <comment>Specify new line separated page types. Like: checkout_cart_index checkout_index_index</comment>
                        <depends>
                            <field id="enabled">1</field>
                            <field id="is_disable_for_page_types">1</field>
                        </depends>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
